<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Home</title>
		<link href="/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="main">
			<div class="messages">
				<% messages.forEach((message) => { %>
					<a href="/messages/<%= message.id %>">
						<%- include ('message', {message:message}) %>
					</a>
				<% }); %>
			</div>
		</div>

		<a href="/new"><button type="button">Add New</button></a>
	</body>
</html>
